body { font-size: 18px; }

i.img-email::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 16px;
  left: -36px;
  top: 1px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="20" height="16" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.352 16c.841 0 1.493-.246 1.955-.738.462-.493.693-1.224.693-2.196V2.924c0-.965-.244-1.693-.73-2.186C18.781.246 18.063 0 17.113 0H2.648C1.807 0 1.155.246.693.738.23 1.231 0 1.96 0 2.924v10.142c0 .972.244 1.703.73 2.196.488.492 1.206.738 2.156.738h14.466zm-7.338-7.063c-.17 0-.341-.043-.512-.13a2.163 2.163 0 0 1-.541-.423L2.3 1.659l.04-.014c.155-.047.33-.071.526-.071h14.266c.196 0 .371.024.525.071l.062.022-6.643 6.717c-.196.2-.38.343-.55.427a1.15 1.15 0 0 1-.513.126zM1.53 13.072V2.953l-.001-.01 5.013 5.05-5.012 5.079zm16.942-.02-4.989-5.064 4.99-5.026v10.09zm-1.338 1.374H2.867c-.196 0-.371-.024-.525-.071l-.035-.012 5.258-5.32.532.536c.323.324.64.557.954.7.313.142.634.213.963.213.323 0 .641-.07.954-.213.313-.143.631-.376.954-.7l.537-.54 5.249 5.319-.05.017c-.154.047-.329.071-.525.071z" fill="%235250CC" fill-rule="nonzero"/%3E%3C/svg%3E');
  background-size: cover;
}

i.img-name::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 20px;
  left: -36px;
  top: -2px;
  background-image: url('images/name.png');
  background-repeat: no-repeat;
  background-size: cover;
}


